*{
  color: {{primaryTextColor}};
  /* font-family: {{font_family}}; */
  line-height: 13px;
  selection-background-color: {{primaryLightColor}};
  selection-color: {{primaryTextColor}};
}

.danger{
  color: {{danger}};
}

QPushButton.danger:flat:hover {
  background-color: rgba({{rgb_inline_danger}}, 51);
}

QPushButton.danger:flat:pressed,
QPushButton.danger:flat:checked {
  background-color: rgba({{rgb_inline_danger}}, 26);
  color: {{danger}};
}

.warning{
  color: {{warning}};
}

QPushButton.warning:flat:hover {
  background-color: rgba({{rgb_inline_warning}}, 56);
}

QPushButton.warning:flat:pressed,
QPushButton.warning:flat:checked {
  background-color: rgba({{rgb_inline_warning}}, 26);
  color: {{warning}};
}
.success{
  color: {{success}};
}

QPushButton.success:flat:hover {
  background-color: rgba({{rgb_inline_success}}, 51);
}

QPushButton.success:flat:pressed,
QPushButton.success:flat:checked {
  background-color: rgba({{rgb_inline_success}}, 26);
  color: {{success}};
}

QWidget {
  background-color: {{secondaryDarkColor}};
}

QFrame {
  background-color: {{secondaryDarkColor}};
  border: 1px solid {{secondaryColor}};
  border-radius: 4px;
}

QSplitter {
  background-color: transparent;
  border: none
}

QStatusBar {
  color: {{secondaryTextColor}};
  background-color: {{secondaryDarkColor}};
  border-radius: 0px;
}

QSizeGrip {
  image: url(icon:/sizegrip.svg);  /* url(icon:/primary/sizegrip.svg); */
  background-color: transparent;
  width: 16px;
  height: 16px;
}

QDateTimeEdit,
QSpinBox,
QDoubleSpinBox,
QTextEdit,
QLineEdit,
QComboBox,
QPushButton {
  color: {{primaryTextColor}};
  background-color: {{secondaryDarkColor}};
  border: 1px solid {{primaryColor}};
  border-radius: 4px;
  padding: 6px 10px ;
  height: 18px;
  /*font-weight: bold;*/
}


QDateTimeEdit,
QSpinBox,
QDoubleSpinBox,
QTreeView,
QListView,
/* QLineEdit, */
QComboBox {
  color: {{primaryTextColor}};
  padding-left: 15px;
  border-radius: 0px;
  background-color: rgba(255, 255, 255, 0.04) /*{{secondaryColor}}*/ ;
  border-width: 0 0 2px 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

QLineEdit {
  color: {{primaryTextColor}};
  background-color: {{secondaryLightColor}};
  font-family: Segoe UI;
  font-weight: normal;
  border: 1px solid #8b8b8b;
  border-radius: 0px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-width: 0 0 1px 0;
}


QPlainTextEdit {
  border-radius: 4px;
  padding: 6px 6px;
  color: {{primaryTextColor}};
  background-color: {{secondaryLightColor}};
  border: none;
}

QDateTimeEdit:disabled,
QSpinBox:disabled,
QDoubleSpinBox:disabled,
QTextEdit:disabled,
QLineEdit:disabled,
QComboBox:disabled {
  color: {{secondaryTextColor}};
  border: 2px solid rgba(255, 255, 255, 0.04) /* rgba({{rgb_inline_primaryColor}}, 51); */ ;
  border-width: 0 0 2px 0;
  border-radius: 4px;
  padding: 8px 16px ;
  /*font-weight: bold;*/
}

QComboBox[frame='false'] {
  color: {{primaryColor}};
  background-color: transparent;
  border: 1px solid transparent;
}

QHeaderView::section {
  color: rgba({{rgb_inline_secondaryTextColor}}, 128);
  text-transform: uppercase;
  background-color: {{secondaryColor}};
  border-radius: 0px;
  padding: 0 20px;
  height: 35px;
}

QTextEdit {
  padding: 8px;
  border-radius: 4px;
  background-color: {{secondaryColor}};
}

QComboBox::drop-down {
  border: none;
  color: {{primaryColor}};
}

QComboBox::down-arrow {
  image: url(icon:/downarrow.svg);  /* url(icon:/primary/downarrow.svg); */
  margin-right: 10px;
}

QComboBox::down-arrow:disabled {
  image: url(icon:/downarrow.svg);  /* url(icon:/disabled/downarrow.svg); */
  margin-right: 10px;
}

QComboBox QAbstractItemView {
  border: 1px solid {{primaryColor}};
  border-radius: 4px;
}

QComboBox::item {
  color: {{secondaryTextColor}};
  background: {{secondaryColor}};
}

QComboBox::item:disabled {
  color: rgba({{rgb_inline_secondaryTextColor}}, 77);
  background: {{secondaryColor}};
}

QComboBox::item:selected {
  color: {{secondaryDarkColor}};
  background-color: {{primaryColor}};
}

QComboBox::item:selected:disabled {
  color: rgba({{rgb_inline_secondaryDarkColor}}, 77);
  background-color: {{primaryColor}};
}

QDateTimeEdit::up-button,
QDoubleSpinBox::up-button,
QSpinBox::up-button {
  subcontrol-origin: border;
  subcontrol-position: top right;
  width: 20px; /* 16 + 2*1px border-width = 15px padding + 3px parent border */
  image: url(icon:/uparrow.svg);  /* url(icon:/primary/uparrow.svg); */
  border-width: 0px;
  margin-right: 5px;
}

QDateTimeEdit::up-button:disabled,
QDoubleSpinBox::up-button:disabled,
QSpinBox::up-button:disabled {
  image: url(icon:/uparrow.svg);  /* url(icon:/disabled/uparrow.svg); */
}

QDateTimeEdit::down-button,
QDoubleSpinBox::down-button,
QSpinBox::down-button {
  subcontrol-origin: border;
  subcontrol-position: bottom right;
  width: 20px;
  image: url(icon:/downarrow.svg);  /* url(icon:/primary/downarrow.svg); */
  border-width: 0px;
  border-top-width: 0;
  margin-right: 5px;
}

QDateTimeEdit::down-button:disabled,
QDoubleSpinBox::down-button:disabled,
QSpinBox::down-button:disabled {
  image: url(icon:/downarrow.svg);  /* url(icon:/disabled/downarrow.svg); */
}


QPushButton {
  color: {{primaryTextColor}};
  text-transform: uppercase;
  margin: 0px;
  padding: 0px 16px;
  height: 34px;
  min-height: 34px;
  max-height: 34px;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: normal;
  border: 2px solid {{primaryColor}};
  border-radius: 5px;
}


QPushButton:checked,
QPushButton:pressed {
  color: {{secondaryDarkColor}};
  background-color: {{primaryColor}};
}

QPushButton:flat {
  padding: 5px;
  margin: 0px;
  color: {{primaryColor}};
  border: none;
  background-color: transparent;
}

QPushButton:flat:hover {
  background-color: rgba({{rgb_inline_primaryColor}}, 51);
}

QPushButton:flat:pressed,
QPushButton:flat:checked {
  background-color: rgba({{rgb_inline_primaryColor}}, 26);
}

QPushButton:disabled,
QPushButton:flat:disabled {
  color: rgba({{rgb_inline_secondaryLightColor}}, 191);
  background-color: transparent;
  border-color:  {{secondaryColor}};
}

QPushButton:disabled {
  border: 2px solid rgba({{rgb_inline_secondaryLightColor}}, 191);
}

QPushButton:checked:disabled {
  color: {{secondaryColor}};
  background-color: {{secondaryLightColor}};
  border-color:  {{secondaryLightColor}};
}

QTabWidget::pane {
}

QTabWidget::tab-bar {
}

QScrollArea,
QStackedWidget,
QWidget > QToolBox,
QToolBox > QWidget,
QTabWidget > QWidget {
  border-radius: 0px;
  border: none;
}

QScrollArea QWidget
{
    background-color: {{secondaryColor}};
}

QTabBar{
  text-transform: uppercase;
  font-weight: bold;
}

QTabBar::tab {
  color: {{secondaryTextColor}};
  border: 0px;
  min-width: 65px;
}

QTabBar::tab:bottom,
QTabBar::tab:top{
  padding: 0 15px;
  height: 30px;
}

QTabBar::tab:left,
QTabBar::tab:right{
  padding: 15px 0;
  width: 30px;
}

QTabBar::tab:top:selected,
QTabBar::tab:top:hover {
  color: {{primaryColor}};
  border-bottom: 1px solid {{primaryColor}};
}

QTabBar::tab:bottom:selected,
QTabBar::tab:bottom:hover {
  color: {{primaryColor}};
  border-top: 1px solid {{primaryColor}};
}

QTabBar::tab:right:selected,
QTabBar::tab:right:hover {
  color: {{primaryColor}};
  border-left: 1px solid {{primaryColor}};
}

QTabBar::tab:left:selected,
QTabBar::tab:left:hover {
  color: {{primaryColor}};
  border-right: 1px solid {{primaryColor}};
}

QTabBar QToolButton:hover,
QTabBar QToolButton {
  border: 20px;
  background-color: {{secondaryDarkColor}};
}

QTabBar QToolButton::up-arrow {
  image: url(icon:/uparrow2.svg);  /* url(icon:/disabled/uparrow2.svg); */
}

QTabBar QToolButton::up-arrow:hover {
  image: url(icon:/uparrow2.svg);  /* url(icon:/primary/uparrow2.svg); */
}

QTabBar QToolButton::down-arrow {
  image: url(icon:/downarrow2.svg);  /* url(icon:/disabled/downarrow2.svg); */
}

QTabBar QToolButton::down-arrow:hover {
  image: url(icon:/downarrow2.svg);  /* url(icon:/primary/downarrow2.svg); */
}

QTabBar QToolButton::right-arrow {
  image: url(icon:/rightarrow2.svg);  /* url(icon:/primary/rightarrow2.svg); */
}

QTabBar QToolButton::right-arrow:hover {
  image: url(icon:/rightarrow2.svg);  /* url(icon:/disabled/rightarrow2.svg); */
}

QTabBar QToolButton::left-arrow {
  image: url(icon:/leftarrow2.svg);  /* url(icon:/primary/leftarrow2.svg); */
}

QTabBar QToolButton::left-arrow:hover {
  image: url(icon:/leftarrow2.svg);  /* url(icon:/disabled/leftarrow2.svg); */
}

QTabBar::close-button {
  image: url(icon:/tab_close.svg);  /* url(icon:/disabled/tab_close.svg); */
}

QTabBar::close-button:hover {
  image: url(icon:/tab_close.svg);  /* url(icon:/primary/tab_close.svg); */
}

QGroupBox {
  background-color: {{secondaryColor}};
  border-radius: 4px;
  padding: 5px;
  padding-top: 20px;
  line-height: 13px;
  text-transform: uppercase;
  font-family: Segoe UI;
  font-size: 10pt;
  font-weight: bold;
}

QGroupBox::title {
  color: rgba({{rgb_inline_primaryColor}}, 255);
  subcontrol-origin: margin;
  subcontrol-position: top left;
  padding: 0 15px;
  margin-top: 10px;
  background-color: {{secondaryDarkColor}};
  background-color: transparent;
  height: 20px;
  border-radius: 8px;
}

QRadioButton,
QCheckBox {
  spacing: 10px;
  color: {{primaryTextColor}};
  line-height: 14px;
  height: 30px;
  background-color: transparent;
  spacing: 5px;
  text-transform: uppercase;
}

QRadioButton:disabled,
QCheckBox:disabled {
  color: rgba({{rgb_inline_primaryTextColor}}, 77);
}

QListView::indicator:checked,
QCheckBox::indicator:checked {
  image: url("icon:/checkbox_checked.svg");
  /*image: url(icon:/primary/checkbox_checked.svg);*/
}

QListView::indicator:unchecked,
QCheckBox::indicator:unchecked {
  image: url("icon:/checkbox_unchecked.svg");
  /* image: url(icon:/primary/checkbox_unchecked.svg); */
}

QListView::indicator:indeterminate,
QCheckBox::indicator:indeterminate {
  image: url("icon:/checkbox_indeterminate.svg");
  /* image: url(icon:/primary/checkbox_indeterminate.svg); */
}

QListView::indicator:checked:disabled,
QCheckBox::indicator:checked:disabled {
  image: url("icon:/checkbox_checked.svg");
  /* image: url(icon:/disabled/checkbox_checked.svg); */
}

QListView::indicator:unchecked:disabled,
QCheckBox::indicator:unchecked:disabled {
  image: url("icon:/checkbox_unchecked.svg");
  /* image: url(icon:/disabled/checkbox_unchecked.svg); */
}

QListView::indicator:indeterminate:disabled,
QCheckBox::indicator:indeterminate:disabled {
  image: url("icon:/checkbox_indeterminate.svg");
  /* image: url(icon:/disabled/checkbox_indeterminate.svg); */
}

QRadioButton::indicator:checked {
  image: url("icon:/radiobutton_checked.svg");
  /* image: url(icon:/primary/radiobutton_checked.svg); */
}

QRadioButton::indicator:unchecked {
  image: url("icon:/radiobutton_unchecked.svg");
  /* image: url(icon:/primary/radiobutton_unchecked.svg); */
}

QRadioButton::indicator:checked:disabled {
  image: url("icon:/radiobutton_checked.svg");
  /* image: url(icon:/disabled/radiobutton_checked.svg); */
}

QRadioButton::indicator:unchecked:disabled {
  image: url("icon:/radiobutton_unchecked.svg");
  /* image: url(icon:/disabled/radiobutton_unchecked.svg); */
}

QDockWidget {
  color: {{secondaryTextColor}};
  text-transform: uppercase;
  border: 2px solid {{secondaryColor}};
  titlebar-close-icon: url(icon:close.svg); /* url(icon:/primary/close.svg); */
  titlebar-normal-icon: url(icon:float.svg); /* url(icon:/primary/float.svg); */
  border-radius: 4px;
}

QDockWidget::title {
  text-align: left;
  padding-left: 35px;
  padding: 3px;
  margin-top: 4px;
}

QCalendarWidget QMenu,
QMenu {
  background-color: {{secondaryColor}};
  border: 2px solid {{secondaryLightColor}};
  border-radius: 2px;
  margin-top: 3px;
}

QCalendarWidget QMenu::item,
QMenu::item {
  padding: 2px 25px 2px 20px;
  border: 8px solid transparent; /* reserve space for selection border */
  color: {{primaryTextColor}};
}

QCalendarWidget QMenu::item:selected,
QMenu::item:selected {
  color: {{primaryTextColor}};
  background-color: {{primaryLightColor}};
  border-radius: 4px;
}

QCalendarWidget QMenu::item:disabled,
QMenuBar::item:disabled,
QMenu::item:disabled {
  color: rgba({{rgb_inline_secondaryTextColor}}, 77);
}

QMenu::separator {
  height: 2px;
  background-color: {{secondaryLightColor}};
  margin-left: 2px;
  margin-right: 2px;
}

QMenu::right-arrow{
  image: url(icon:/rightarrow.svg); /* url(icon:/primary/rightarrow.svg); */
  width: 15px;
  height: 15px;
}

QMenu::right-arrow:selected{
  image: url(icon:/rightarrow.svg);  /* url(icon:/disabled/rightarrow.svg); */
}

QMenu::indicator{
  width: 15px;
  height: 15px;
}

QMenu::indicator:non-exclusive:unchecked {
  image: url(icon:/checkbox_unchecked.svg);  /* url(icon:/primary/checkbox_unchecked.svg); */
}

QMenu::indicator:non-exclusive:unchecked:selected {
  image: url(icon:/checkbox_unchecked.svg);  /* url(icon:/disabled/checkbox_unchecked.svg); */
}

QMenu::indicator:non-exclusive:checked {
  image: url(icon:/checkbox_checked.svg);  /* url(icon:/primary/checkbox_checked.svg); */
}

QMenu::indicator:non-exclusive:checked:selected {
  image: url(icon:/checkbox_checked.svg);  /* url(icon:/disabled/checkbox_checked.svg); */
}

QMenu::indicator:exclusive:unchecked {
  image: url(icon:/radiobutton_unchecked.svg);  /* url(icon:/primary/radiobutton_unchecked.svg); */
}

QMenu::indicator:exclusive:unchecked:selected {
  image: url(icon:/radiobutton_unchecked.svg);  /* url(icon:/disabled/radiobutton_unchecked.svg); */
}

QMenu::indicator:exclusive:checked {
  image: url(icon:/radiobutton_checked.svg);  /* url(icon:/primary/radiobutton_checked.svg); */
}

QMenu::indicator:exclusive:checked:selected {
  image: url(icon:/radiobutton_checked.svg);  /* url(icon:/disabled/radiobutton_checked.svg); */
}

QMenuBar {
  background-color: {{secondaryColor}};
  color: {{secondaryTextColor}};
}

QMenuBar::item {
  height: 33px;
  spacing: 3px;
  padding: 8px 8px;
  background-color: transparent;
  color: {{secondaryTextColor}};
}

QMenuBar::item:selected,
QMenuBar::item:pressed {
  color: {{primaryTextColor}};
  background-color: {{primaryColor}};
}

QToolBox::tab {
  background-color: {{secondaryColor}};
  color: {{secondaryTextColor}};
  padding-left: 15px;
  text-transform: uppercase;
  border-radius: 2px;
}

QToolBox::tab:hover {
  background-color: rgba({{rgb_inline_primaryColor}}, 50);
}

QProgressBar {
  border-radius: 0;
  background-color: {{secondaryLightColor}};
  text-align: center;
  color: transparent;
}

QProgressBar::chunk {
  background-color: {{primaryColor}};
}

QScrollBar:horizontal {
  border: 0;
  background: {{secondaryColor}};
  height: 8px;
}

QScrollBar:vertical {
  border: 0;
  background: {{secondaryColor}};
  width: 8px;
}

QScrollBar::handle:horizontal {
  background: {{secondaryLightColor}};
  min-width: 20px;
}

QScrollBar::handle:vertical {
  background: {{secondaryLightColor}};
  min-height: 20px;
}

QScrollBar::handle:vertical:hover,
QScrollBar::handle:horizontal:hover {
  background: {{primaryColor}};
}

QScrollBar::add-line:vertical,
QScrollBar::sub-line:vertical,
QScrollBar::add-line:horizontal,
QScrollBar::sub-line:horizontal {
  border: 0;
  background: transparent;
  width: 0px;
  height: 0px;
}

 QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical,
 QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal {
   background: {{secondaryColor}};
 }

QSlider:horizontal {
  min-height: 20px;
  max-height: 20px;
  background: transparent;
}

QSlider:vertical {
  min-width: 20px;
  max-width: 20px;
  background: transparent;
}

QSlider::groove:horizontal {
  height: 4px;
  background: #393939;
  margin: 0 10px;
}

QSlider::groove:vertical {
  width: 4px;
  background: #393939;
  margin: 10px 0;
  border-radius: 20px;
}

QSlider::handle:horizontal {
  image: url(icon:/slider.svg);  /* url(icon:/primary/slider.svg); */
  width: 20px;
  height: 20px;
  margin: -20px -10px;
}

QSlider::handle:vertical {
  image: url(icon:/slider.svg);  /* url(icon:/primary/slider.svg); */
  border-radius: 20px;
  width: 20px;
  height: 20px;
  margin: -10px -20px;
}

QSlider::add-page {
background: {{secondaryColor}};
}

QSlider::sub-page {
background: {{primaryColor}};
}

QLabel {
  border: none;
  background: transparent;
  color: {{primaryTextColor}}
}

QLabel:disabled {
  color: rgba({{rgb_inline_primaryTextColor}}, 50);
}

QLine {
  border: none;
  border-color: red;
}

QMdiArea{
}

QMdiSubWindow{
}

QMdiSubWindow:title{
}

QMainWindow::separator:vertical,
QSplitter::handle:horizontal {
  image: url(icon:/splitter-horizontal.svg);  /* url(icon:/primary/splitter-horizontal.svg); */
}

QMainWindow::separator:horizontal,
QSplitter::handle:vertical {
  image: url(icon:/splitter-vertical.svg);  /* url(icon:/primary/splitter-vertical.svg); */
}

QToolBar {
  background: {{secondaryDarkColor}};
  border: 0px solid;
}

QToolBar:horizontal {
  border-bottom: 1px solid {{secondaryLightColor}};
}

QToolBar:vertical {
  border-right: 1px solid {{secondaryLightColor}};
}

QToolBar::handle:horizontal {
  image: url(icon:/toolbar-handle-horizontal.svg);  /* url(icon:/primary/toolbar-handle-horizontal.svg); */
}

QToolBar::handle:vertical {
  image: url(icon:/toolbar-handle-vertical.svg);  /* url(icon:/primary/toolbar-handle-vertical.svg); */
}

QToolBar::separator:horizontal {
  border-right: 1px solid {{secondaryLightColor}};
  border-left: 1px solid {{secondaryLightColor}};
  width: 1px;
}

QToolBar::separator:vertical {
  border-top: 1px solid {{secondaryLightColor}};
  border-bottom: 1px solid {{secondaryLightColor}};
  height: 1px;
}

QToolButton {
  background: {{secondaryDarkColor}};
  border: 0px;
  height: 40px;
  margin: 0px;
  padding: 5px;
  border-right: 10px solid {{secondaryDarkColor}};
  border-left: 10px solid {{secondaryDarkColor}};
}

QToolButton:hover {
  background: {{secondaryLightColor}};
  border-right: 10px solid {{secondaryLightColor}};
  border-left: 10px solid {{secondaryLightColor}};
}

QToolButton:pressed {
  background: {{secondaryColor}};
  border-right: 10px solid {{secondaryColor}};
  border-left: 10px solid {{secondaryColor}};
}

QToolButton:checked {
  background: {{secondaryLightColor}};
  border-left: 10px solid {{secondaryLightColor}};
  border-right: 10px solid {{primaryColor}};
}

QAbstractScrollArea {
}

QTableWidget {
  background-color: {{secondaryDarkColor}};
  border: 1px solid {{secondaryColor}};
  border-radius: 4px;
}

QTreeView,
QListView {
  border-radius: 4px;
  padding: 5px;
  margin: 0px;
}

QTreeView::item,
QListView::item {
  padding: 5px;
  min-height: 25px;
}

QTableView::item,
QTreeView::item,
QListView::item{
  color: {{secondaryTextColor}};
}

QListView::item:selected {
  color: {{primaryTextColor}};
}

QTableView::item:disabled,
QTreeView::item:disabled,
QListView::item:disabled{
  color: rgba({{rgb_inline_secondaryTextColor}}, 77);
}

QTableCornerButton::section {
  background-color: {{secondaryDarkColor}};
}

QTreeView::branch{
  background-color: {{secondaryColor}};
}

QTreeView::branch:closed:has-children:has-siblings,
QTreeView::branch:closed:has-children:!has-siblings {
  image: url(icon:/branch-closed.svg);  /* url(icon:/primary/branch-closed.svg); */
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings {
  image: url(icon:/branch-open.svg);  /* url(icon:/primary/branch-open.svg); */
}

QTreeView::branch:has-siblings:!adjoins-item {
  border-image: url(icon:/vline.svg) 0;  /* url(icon:/disabled/vline.svg) 0; */
}

QTreeView::branch:has-siblings:adjoins-item {
    border-image: url(icon:/branch-more.svg) 0;  /* url(icon:/disabled/branch-more.svg) 0; */
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item,
QTreeView::branch:has-children:!has-siblings:adjoins-item {
    border-image: url(icon:/branch-end.svg) 0;  /* url(icon:/disabled/branch-end.svg) 0; */
}

QPushButton.danger {
  border-color: {{danger}};
  color: {{danger}};
}

QPushButton.danger:checked,
QPushButton.danger:pressed {
  color: {{secondaryDarkColor}};
  background-color: {{danger}};
}

QPushButton.warning{
  border-color: {{warning}};
  color: {{warning}};
}

QPushButton.warning:checked,
QPushButton.warning:pressed {
  color: {{secondaryDarkColor}};
  background-color: {{warning}};
}

QPushButton.success {
  border-color: {{success}};
  color: {{success}};
}

QPushButton.success:checked,
QPushButton.success:pressed {
  color: {{secondaryDarkColor}};
  background-color: {{success}};
}

QTableView > QHeaderView::section {
  border-right: 2px solid {{secondaryLightColor}};
}

QTableView > QHeaderView::section:last {
  border-right: 2px solid {{secondaryColor}};
}

QTableView {
  alternate-background-color: rgba({{rgb_inline_secondaryColor}}, 179);
}

QLCDNumber {
  color: {{primaryColor}};
  background-color: rgba({{rgb_inline_primaryColor}}, 26);
  border: 1px solid rgba({{rgb_inline_primaryColor}}, 77);
  border-radius: 2px;
}

#qt_calendar_prevmonth {
    qproperty-icon: url(icon:/leftarrow.svg);  /* url(icon:/primary/leftarrow.svg); */
}

#qt_calendar_nextmonth {
  qproperty-icon: url(icon:/rightarrow.svg);  /* url(icon:/primary/rightarrow.svg); */
}

QToolTip {
  padding: 5px;
  border: 1px solid {{secondaryDarkColor}};
  border-radius: 2px;
  color: {{primaryTextColor}};
  background-color: {{secondaryLightColor}};
}

















/*
RYVENCORE-QT DTYPE WIDGETS
 */


*[class="small_button"] {
  color: {{primaryLightColor}};
  background-color: {{secondaryColor}};
  border: 1px solid {{primaryColor}};
  border-radius: 3px;
  font-family: Segoe UI;
  font-size: 14px;
  font-weight: normal;
  text-transform: none;
  height: 15px;
  min-height: 15px;
  max-height: 15px;
  margin: 0px;
  padding: 4px 20px;
}
*[class="small_button"]:pressed {
  color: {{primaryLightColor}};
  background-color: {{secondaryLightColor}};
}


/* RCIW_BUILTIN_LineEdit { */
String_IW,
Data_IW
{
    padding: 1px 1px ;
}

String_IW:disabled,
Data_IW:disabled
{
    border: none;
    padding: 1px 1px;
}

String_IW_S,
Data_IW_S
{
    border-radius: 2px;
    padding: 1px 1px ;
    background: transparent;
    border: none;
}

String_IW_S:disabled,
Data_IW_S:disabled
{
    border: none;
    padding: 1px 1px;
}

String_IW_S:hover,
Data_IW_S:hover
{
    background-color: {{primaryColor}};
}



/*
SPECIFIC INTERNAL WIDGETS
 */

ConsoleInputLineEdit {
    font-family: Consolas;
    font-size: 12pt;
}

